@model RecepcjaHotel.Models.Reservation

@{
    ViewData["Title"] = "Details";
}

<h1 class="display-4">Szczególy Rezerwacji</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DateCheckIn)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DateCheckIn)
        </dd>
        @if (Model.DateCheckOut.HasValue)
        {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.DateCheckOut)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.DateCheckOut)
            </dd>
        }
        @if (Model.Amount.HasValue)
        {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Amount)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Amount) zł
            </dd>
        }
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Clients.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Clients.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Clients.Surname)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Clients.Surname)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Clients.PhoneNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Clients.PhoneNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Clients.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Clients.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Payments.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Payments.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Rooms.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Rooms.Id)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-warning" asp-action="Edit" asp-route-id="@Model.Id">Edytuj</a>
    <a class="btn btn-dark" asp-action="Index">Powrót do Listy</a>
</div>
