@model RecepcjaHotel.Models.Room

@{
    ViewData["Title"] = "Details";
}

<h1 class="display-4">Szczegóły Pokoju</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RoomsType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RoomsType.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RoomsType.Size)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RoomsType.Size) m<sup>2</sup>
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RoomsType.Price) 
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RoomsType.Price) zł
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-warning" asp-action="Edit" asp-route-id="@Model.Id">Edytuj</a>
    <a class="btn btn-dark" asp-action="Index">Powrót do Listy</a>
</div>
<br/>
@if (Model.Reservations.Count != 0)
{
    <div>
        <h2>Rezerwacje pokoju</h2>

        <table class="table">
            <thead>
                <tr>
                    <th>
                        Numer Rezerwacji
                    </th>
                    <th>
                        Data zameldowania
                    </th>
                    <th>
                        Data wymeldowania
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Reservations)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DateCheckIn)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DateCheckOut)
                        </td>
                        <td>
                            <a class="btn btn-info" asp-controller="Reservation" asp-action="Details" asp-route-id="@item.Id">Szczegóły</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}


