@model IEnumerable<RecepcjaHotel.Models.Room>

@{
    ViewData["Title"] = "Index";
}

<h1 class="display-4">Pokoje Hotelowe</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Dodaj Nowy Pokój</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RoomsType.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoomsType.Name)
            </td>
            <td>
                <a class="btn btn-info" asp-action="Details" asp-route-id="@item.Id">Szczegóły</a>
                <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Id">Edytuj</a>
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Usuń</a>
            </td>
        </tr>
}
    </tbody>
</table>
